{% load menu_tags %}

{% for child in children %}
<li class="child{% if child.selected %} selected{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
    {% if child.is_leaf_node %}
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
	{% else %}
	<a href="#submenu-{{ child.get_absolute_url|slugify }}" data-toggle="collapse">{{ child.get_menu_title }}</a>
	{% endif %}
	{% if child.children %}
	<ul id="submenu-{{ child.get_absolute_url|slugify }}" class="collapse{% if child.ancestor %} in{% endif %}">
		{% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
	</ul>
	{% endif %}
</li>
{% endfor %}
